<%- include('../partials/head')%>
<title>Campgrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add Campground</a>
<ul>
  <% for(let camp of campgrounds) {%>
    <li><a href="/campground/<%= camp.id %>"><%= camp.title %></a> </li>
  <% } %>
</ul>

</body>
  <%- include('../partials/footer')%>
