<%- layout('layouts/boilerplate')%>
  <form class="" action="/campgrounds" method="post">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" name="campground[title]" value="">
    </div>
    <div>
      <label for="location">Location</label>
      <input id="location" type="text" name="campground[location]" value="">
    </div>


    <button type="submit" name="button">+ Add</button>
  </form>
<a href="/campgrounds">All Campgrounds</a>
